.welcome-title {
  font-size: 28px;
  text-align: center;
  line-height: 2em;
  margin: 35px 0;
  color: #444;
}
.welcome-title > .nickname {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
}
.welcome-website-message {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.welcome-card {
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 15px 10px;
  width: 350px;
  margin: 20px;
}
.welcome-card > h4 {
  font-size: 16px;
  line-height: 2em;
  text-align: center;
  margin: 15px 0;
  color: #444;
  font-weight: 500;
}
.welcome-page-view > p {
  font-size: 14px;
  color: #444;
  line-height: 1.8em;
  text-align: center;
}
.post-item {
  text-align: center;
  margin-top: 10px;
}
.post-item > a {
  color: #444;
}
.post-item > a:hover {
  border-bottom: 1px solid #444;
}
.welcome-recent-login > p {
  line-height: 2em;
  color: #444;
  text-align: center;
}
