.postList-container {
  padding: 2rem;
  position: relative;
  text-align: left;
  height: 100%;
  overflow-y: scroll;
  margin-left: 290px;
  margin-right: 60px;
  box-sizing: border-box;
}
.postList-card {
  /*可优化css*/
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
h1.postList-title {
  /*font-size: 24px;
  color: #242e33;
  text-align: left;
  margin: 20px 20px 30px 0;
  border-bottom: 1px solid #000;
  padding:10px 0;*/
  font-size: 24px;
  color: #242e33;
  text-align: left;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  padding: 0.5rem 1.5rem;
}
section.postList-content-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}
h2.postList-sub-title {
  width: 65%;

  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 0;
  cursor: pointer;
  color: #3e515b;
}
.postList-message {
  margin-top: 12px;
  display: inline-block;
  font-size: 13px;
  color: #7897a7;
}
.postList-message-item {
  margin-right: 20px;
}
.postList-button-rows {
  float: right;
  margin-top: -30px;
}

.button {
  color: #fff;
  background: #fff;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  display: inline-block;
  margin: 12px;
  min-width: 88px;
  border: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  height: 36px;
  line-height: 36px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
}
.button:active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.button:hover {
  opacity: 0.8;
}
.buttons-default {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}
.buttons-default:hover {
  background-color: #f7f7f7;
}
.buttons-primary {
  background-color: rgb(0, 188, 212);
}
.buttons-primary:hover {
  background-color: rgba(0, 188, 212, 0.7);
}
.buttons-warning {
  background-color: rgb(255, 64, 129);
}
.buttons-warning:hover {
  background-color: rgba(255, 64, 129, 0.7);
}
