body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height:100%;
}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
#root{
  height:100%;
}
.button{
  border:none;
  background: none;
  box-shadow: none;
  outline:none;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  color: #fff;
  background: #018786;
}