.login-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  /*background-color: #00897b;*/
  background-color: #00796b;
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.login-panel {
  position: absolute;
  bottom: 45%;
  width: 22rem;
  margin: auto;
  background-color: #fff;
  transition: all ease 0.3s;
  z-index: 2;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.login-form-body {
  padding: 20px;
}
.login-label-container {
  display: block;
  margin: 30px 0;
  text-align: left;
  position: relative;
}
.login-input {
  padding-left: 5px;
  font-size: 15px;
  padding-bottom: 10px;
  width: 100%;
  color: #999;
}
.login-input:focus + .login-bottom-line:after {
  background: #ff7fab;
  height: 2px;
}
.login-input-valid:focus + .login-bottom-line:after {
  background: #1fe8b5;
  height: 2px;
}

.login-bottom-line:after {
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  height: 1px;
  bottom: 0;
  left: -50%;
  transform: scale(0.5);
  background: #999;
  transition: background ease 0.3s;
}
.login-input:focus + .login-bottom-line:before {
  content: '输入不符合规范';
  display: block;
  position: absolute;
  font-size: 12px;
  right: 0px;
  bottom: 8px;
  color: #ff7fab;
  transition: all ease 0.3s;
}
.login-input-valid:focus + .login-bottom-line:before {
  content: '';
  height: 0;
}
.login-form-footer {
  width: 100%;
  background: #455a64;
  cursor: pointer;
  box-sizing: border-box;
  transition: background ease 0.3s;
}
.login-form-footer:hover {
  background-color: rgba(60, 90, 100, 0.9);
}
.login-submit {
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #fff;
  padding: 25px;
  cursor: pointer;
}
.login-forget {
  color: #000;
}
.login-forget:hover {
  font-weight: 600;
}
.login-copyright {
  width: 100%;
  text-align: center;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  box-sizing: border-box;
}
.login-footer-item {
  margin-top: 10px;
}

@media screen and (max-width: 375px) {
  .login-panel {
    width: 18rem;
  }
}
