extends layout

block style
    link(rel="stylesheet", href="/static/css/main.css")
    link(rel="stylesheet", href="/stylesheets/highlight-Xcode.css")
block content
    #root
block script
    noscript You need to enable JavaScript to run this app.
    script(type="text/javascript", src="/static/js/main.js")


