doctype html
html
    head
        title= 'TJDD-blog'
        mate(charset="utf-8")
        mate(name="viewport", content="width=device-width, initial-scale=1,shrink-top-fit-no")
        mate(name="theme-color", content="#000000")
        link(rel="manifest", href="manifest.json")
        link(rel="shortcut icon", href="favicon.ico")
        link(rel='stylesheet', href='static/css/main.c17080f1.css')
    body
        block content
    noscript You need to enable JavaScript to run this app.
    #root
    script(type="text/javascript" src="static/js/main.ee7b2412.js")
