doctype html
html
    head
        title= 'TJDD-blog'
        mate(charset="utf-8")
        mate(name="viewport", content="width=device-width, initial-scale=1,shrink-top-fit-no")
        mate(name="theme-color", content="#000000")
        link(rel="manifest", href="static/manifest.json")
        link(rel="shortcut icon", href="static/favicon.ico")
        link(rel='stylesheet', href='static/css/main.css')
    body
        block content
            #root
    script(type="text/javascript" src="static/js/main.js")
