extends layout
block content
  app-root
block script
  noscript You need to enable JavaScript to run this app.
  script(type="text/javascript" src="/inline.bundle.js")
  script(type="text/javascript" src="/polyfills.bundle.js")
  script(type="text/javascript" src="/styles.bundle.js")
  script(type="text/javascript" src="/vendor.bundle.js")
  script(type="text/javascript" src="/main.bundle.js")

