extends layout
block content
  app-root
block script
  noscript You need to enable JavaScript to run this app.
  script(type="text/javascript" src="/runtime.js")
  script(type="text/javascript" src="/polyfills.js")
  script(type="text/javascript" src="/styles.js")
  script(type="text/javascript" src="/vendor.js")
  script(type="text/javascript" src="/main.js")

