//doctype html
//html
//
//    head
//      base(href="/")
//      title= 'TJ-blog'
//      mate(charset="utf-8")
//      mate(name="viewport", content="width=device-width, initial-scale=1,shrink-top-fit-no")
//      mate(name="theme-color", content="#000000")
//      link(rel="manifest", href="manifest.json")
//      link(rel="shortcut icon", href="favicon.ico")
//
//      block style
//    body
//      block content
//
//      block script

doctype html
html

  //- HTML HEADER
  head
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover")
    meta(name="path_prefix", content="")
    meta(http-equiv="Content-Language", content="zh-cmn-Hans")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    title= '集智 - 通向智能时代的引擎'
    






    block style



  //- HTML BODY
  body

    block content
    block script
