.footer {
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;
  background: #006064;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 250px;
  color: #fff;
  display: flex;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-logo {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.footer-logo-image {
  width: 100%;
  height: 100%;
}
.footer-message {
  margin: 0 20px;
  font-size: 14px;
  font-weight: 300;
}
.footer-message > span {
  display: block;
  margin: 5px 0;
}
.footer-time {
  min-width: 160px;
}
