.float-left {
  float: left;
}

.float-right {
  float: right;
}

.main-view {
  padding: 2rem;
  position: relative;
  text-align: left;
  height: 100%;
  overflow-y: scroll;
  margin-left: 290px;
  margin-right: 60px;
  box-sizing: border-box;
}

/*主视图panel的一些公用样式*/
.main-view-panel {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
h1.main-view-title {
  font-size: 24px;
  color: #242e33;
  text-align: left;
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  padding: 0.5rem 1.5rem;
}

/*form的一些公用样式*/
.form-label {
  display: block;
  margin: 2rem 0;
}
.label-rows {
  overflow: hidden;
}
.form-label.checkbox {
  float: left;
  margin: 1rem 2rem 1rem 0;
}
.form-label.checkbox:after {
  content: '';
  clear: right;
}
.form-input-label,
.form-textarea-label {
  display: inline-block;
  width: 4.5em;
  text-align: right;
  font-size: 15px;
  color: #455a64;
  font-weight: 300;
  margin-right: 10px;
}
.form-input,
.form-select {
  width: 70%;
  border-bottom: 1px solid #cfd8dc;
  border-radius: 0;
  padding-left: 10px;
  line-height: 2em;
}
.form-select {
  height: 2rem;
  background: #fff;
  border-radius: 0.25rem;
  border: 1px solid #cfd8dc;
}
.form-textarea {
  width: 70%;
  height: auto;
  min-height: 32rem;
}

/*button的一些公用样式*/
.button {
  color: #fff;
  background: #fff;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  display: inline-block;
  margin: 12px;
  min-width: 88px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  cursor: pointer;
  position: relative;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
.button:active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
}
.button:hover {
  opacity: 0.8;
}
.buttons-default {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}
.buttons-default:hover {
  background-color: #f7f7f7;
}
.buttons-primary {
  background-color: rgb(0, 188, 212);
}
.buttons-primary:hover {
  background-color: rgba(0, 188, 212, 0.7);
}
.buttons-warning {
  background-color: rgb(255, 64, 129);
}
.buttons-warning:hover {
  background-color: rgba(255, 64, 129, 0.7);
}

.toast {
  position: absolute;
  left: 45%;
  top: 20px;
  padding: 5px 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

/*表格样式*/
table {
  width: 100%;
  text-align: center;
}
thead > tr {
  border-bottom: 2px solid #ececec;
}
tbody > tr {
  border-bottom: 1px dashed #ececec;
  margin-bottom: 10px;
}
table th {
  font-weight: 600;
  line-height: 2.5rem;
}
table td {
  line-height: 2.3rem;
}
.operation {
  display: flex;
  justify-content: space-between;
}
.operation > a {
  color: #00c853;
  line-height: 1.3rem;
  cursor: pointer;
}
.operation > a:hover {
  color: #69f0ae;
  text-decoration: underline;
}

/*图标*/
.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 6px;
  vertical-align: top;
}
.icon-header {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="-100 -100 1992 1992" xmlns="http://www.w3.org/2000/svg"><path d="M1682 1664q-44 0-132.5-3.5t-133.5-3.5q-44 0-132 3.5t-132 3.5q-24 0-37-20.5t-13-45.5q0-31 17-46t39-17 51-7 45-15q33-21 33-140l-1-391q0-21-1-31-13-4-50-4h-675q-38 0-51 4-1 10-1 31l-1 371q0 142 37 164 16 10 48 13t57 3.5 45 15 20 45.5q0 26-12.5 48t-36.5 22q-47 0-139.5-3.5t-138.5-3.5q-43 0-128 3.5t-127 3.5q-23 0-35.5-21t-12.5-45q0-30 15.5-45t36-17.5 47.5-7.5 42-15q33-23 33-143l-1-57v-813q0-3 .5-26t0-36.5-1.5-38.5-3.5-42-6.5-36.5-11-31.5-16-18q-15-10-45-12t-53-2-41-14-18-45q0-26 12-48t36-22q46 0 138.5 3.5t138.5 3.5q42 0 126.5-3.5t126.5-3.5q25 0 37.5 22t12.5 48q0 30-17 43.5t-38.5 14.5-49.5 4-43 13q-35 21-35 160l1 320q0 21 1 32 13 3 39 3h699q25 0 38-3 1-11 1-32l1-320q0-139-35-160-18-11-58.5-12.5t-66-13-25.5-49.5q0-26 12.5-48t37.5-22q44 0 132 3.5t132 3.5q43 0 129-3.5t129-3.5q25 0 37.5 22t12.5 48q0 30-17.5 44t-40 14.5-51.5 3-44 12.5q-35 23-35 161l1 943q0 119 34 140 16 10 46 13.5t53.5 4.5 41.5 15.5 18 44.5q0 26-12 48t-36 22z"/></svg>');
}

.icon-bold {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="-100 -100 1992 1992" xmlns="http://www.w3.org/2000/svg"><path d="M747 1521q74 32 140 32 376 0 376-335 0-114-41-180-27-44-61.5-74t-67.5-46.5-80.5-25-84-10.5-94.5-2q-73 0-101 10 0 53-.5 159t-.5 158q0 8-1 67.5t-.5 96.5 4.5 83.5 12 66.5zm-14-746q42 7 109 7 82 0 143-13t110-44.5 74.5-89.5 25.5-142q0-70-29-122.5t-79-82-108-43.5-124-14q-50 0-130 13 0 50 4 151t4 152q0 27-.5 80t-.5 79q0 46 1 69zm-541 889l2-94q15-4 85-16t106-27q7-12 12.5-27t8.5-33.5 5.5-32.5 3-37.5.5-34v-65.5q0-982-22-1025-4-8-22-14.5t-44.5-11-49.5-7-48.5-4.5-30.5-3l-4-83q98-2 340-11.5t373-9.5q23 0 68 .5t68 .5q70 0 136.5 13t128.5 42 108 71 74 104.5 28 137.5q0 52-16.5 95.5t-39 72-64.5 57.5-73 45-84 40q154 35 256.5 134t102.5 248q0 100-35 179.5t-93.5 130.5-138 85.5-163.5 48.5-176 14q-44 0-132-3t-132-3q-106 0-307 11t-231 12z"/></svg>');
}

.icon-quote {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="-100 -100 1992 1992" xmlns="http://www.w3.org/2000/svg"><path d="M832 960v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136zm896 0v384q0 80-56 136t-136 56h-384q-80 0-136-56t-56-136v-704q0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5h64q26 0 45 19t19 45v128q0 26-19 45t-45 19h-64q-106 0-181 75t-75 181v32q0 40 28 68t68 28h224q80 0 136 56t56 136z"/></svg>');
}

.icon-link {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="-100 -100 1992 1992" xmlns="http://www.w3.org/2000/svg"><path d="M1520 1216q0-40-28-68l-208-208q-28-28-68-28-42 0-72 32 3 3 19 18.5t21.5 21.5 15 19 13 25.5 3.5 27.5q0 40-28 68t-68 28q-15 0-27.5-3.5t-25.5-13-19-15-21.5-21.5-18.5-19q-33 31-33 73 0 40 28 68l206 207q27 27 68 27 40 0 68-26l147-146q28-28 28-67zm-703-705q0-40-28-68l-206-207q-28-28-68-28-39 0-68 27l-147 146q-28 28-28 67 0 40 28 68l208 208q27 27 68 27 42 0 72-31-3-3-19-18.5t-21.5-21.5-15-19-13-25.5-3.5-27.5q0-40 28-68t68-28q15 0 27.5 3.5t25.5 13 19 15 21.5 21.5 18.5 19q33-31 33-73zm895 705q0 120-85 203l-147 146q-83 83-203 83-121 0-204-85l-206-207q-83-83-83-203 0-123 88-209l-88-88q-86 88-208 88-120 0-204-84l-208-208q-84-84-84-204t85-203l147-146q83-83 203-83 121 0 204 85l206 207q83 83 83 203 0 123-88 209l88 88q86-88 208-88 120 0 204 84l208 208q84 84 84 204z"/></svg>');
}

.icon-code {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 2048 1792" xmlns="http://www.w3.org/2000/svg"><path d="M681 1399l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23zm591-1067l-373 1291q-4 13-15.5 19.5t-23.5 2.5l-62-17q-13-4-19.5-15.5t-2.5-24.5l373-1291q4-13 15.5-19.5t23.5-2.5l62 17q13 4 19.5 15.5t2.5 24.5zm657 651l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23t-10 23z"/></svg>');
}

.icon-image {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 1992 1992" xmlns="http://www.w3.org/2000/svg"><path d="M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-128-448v320h-1024v-192l192-192 128 128 384-384zm-832-192q-80 0-136-56t-56-136 56-136 136-56 136 56 56 136-56 136-136 56z"/></svg>');
}

.icon-video {
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" viewBox="0 0 1992 1992" xmlns="http://www.w3.org/2000/svg"><path d="M1596 380q28 28 48 76t20 88v1152q0 40-28 68t-68 28h-1344q-40 0-68-28t-28-68v-1600q0-40 28-68t68-28h896q40 0 88 20t76 48zm-444-244v376h376q-10-29-22-41l-313-313q-12-12-41-22zm384 1528v-1024h-416q-40 0-68-28t-28-68v-416h-768v1536h1280zm-640-896q52 0 90 38t38 90v384q0 52-38 90t-90 38h-384q-52 0-90-38t-38-90v-384q0-52 38-90t90-38h384zm492 2q20 8 20 30v576q0 22-20 30-8 2-12 2-14 0-23-9l-265-266v-90l265-266q9-9 23-9 4 0 12 2z"/></svg>');
}
.icon-md {
  width: 28px;
  margin: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 32" fill="black"><path d="M3.76,27.0728V4.9271h6.5133l6.5139,8.1418,6.5136-8.1418h6.5136V27.0728H23.3007V14.3717l-6.5132,8.1418-6.514-8.1418V27.0729Z"/><path d="M44.47,27.0728,34.7,16.3256h6.5137V4.9271h6.5136V16.3257H54.24Z"/></svg>');
}
