section.postList-content-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}
h2.postList-sub-title {
  width: 65%;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 0;
  cursor: pointer;
  color: #3e515b;
}
.postList-message {
  margin-top: 12px;
  display: inline-block;
  font-size: 13px;
  color: #7897a7;
}
.postList-message-item {
  margin-right: 20px;
}
.postList-button-rows {
  float: right;
  margin-top: -30px;
}
