.preview-article {
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  margin-left: 290px;
  overflow-y: scroll;
}
.preview-article-inner {
  margin-top: 40px;
  border: 1px solid rgba(0, 40, 100, 0.12);
}
.preview-article-title {
  font-size: 20px;
  color: #242e33;
  text-align: center;
  margin: 25px 0;
}
.preview-article-mate {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}
.preview-article-mate > .calendar {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background-image: url(/images/blog-calendar.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.preview-article-content {
  font-size: 14px;
  overflow: hidden;
  color: #242e33;
  line-height: 1.3em;
  padding: 2rem 3.5rem;
}
