.blog-header{
  width:100%;
  overflow: hidden;
  position: relative;
  padding:15px 30px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px 2px rgba(0,0,0,.2);
  background-color: #414148;
}
.logo{
  width:30px;
  height:30px;
  background: #fff;
  border-radius: 50%;
  float: left;
}
.social-share {
  float: right;
  margin:0 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.share-item{
  width:20px;
  height: 20px;
  border-radius: 8px;
  background: #fff;
  margin:0 10px;
  border:2px solid #00B7FF;
}
#body{
  min-height: 100%;
  overflow: hidden;
}
.footer{
  width:100%;
  padding-top:15px;
}
.footer-inner{
  padding-left: 255px;
}
.footer-inner>p{
  text-align: center;
  font-size:15px;
  color: #797979;
  padding:6px 0;
}
