<div class="post-list">
  <section class="post-article-item" *ngFor="let post of posts">
    <header class="article-section-title">
      <h1><a href="">{{post.title}}</a></h1>
      <div class="article-meta"><span class="calendar"></span>发表于 {{post.date | date: 'yyyy-MM-dd'}}</div>
    </header>
    <div class="article-content">
      <p>{{post.brief}}</p>
    </div>
    <footer>
      <div class="button-rows">
        <a routerLink="/post/{{post._id}}" class="button">阅读全文»</a>
      </div>
    </footer>
  </section>
</div>
