/* You can add global styles to this file, and also import other style files */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body,
html {
  height: 100%;
  width: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
#root {
  height: 100%;
}
input,
label,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  background: none;
  vertical-align: middle;
  white-space: normal;
  line-height: 1;
  font-size: 14px;
}

input:focus {
  outline: 0;
}
button {
  outline: 0;
}
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button,
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
::-webkit-search-decoration {
  display: none;
}

button,
input[type='reset'],
input[type='submit'],
input[type='button'] {
  overflow: visible;
  width: auto;
}
select[multiple] {
  vertical-align: top;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
/*
set placeholder color*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
  font-weight: 200;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  font-weight: 200;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  font-weight: 200;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
  font-weight: 200;
}


/*同一style*/

body{
  background: #eeeeee;
}
aside,section{
  background: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-bottom:15px;
}

.container {
  position: relative;
  width:70%;
  padding:0 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}
